@import url("style.css");

.header {
    background-color: var(--color-primary);
    color: white;
    padding: 20px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header img {
    width: 24px;
}


.search-container {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-left: 40px;
    background: url('../icons/search.png') no-repeat 10px center; /* Indsætter ikon */
    background-size: 16 px; /* Justér størrelse på ikon */
}



.search-bar {
    padding: 10px;
    border-radius: 16px;
    border: none;
    width: 280px;
}

.filter-btn {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    background-color: var(--grayscale-white);
    cursor: pointer;
}

.filter-btn img {
    width: 16px;
    height: 16px;
}

.pokedex-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    padding: 2em 0.8em;
    background-color: var(--grayscale-white);
    border-radius: 8px;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.25) ; 
    margin: 0 auto;
    width: 100%;
}


.pokemon-card {
    background-color: var(--color-white);
    height: auto;
    border-radius: 8px;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.20);
    text-align: center;
}

.pokemon-number {
    color: var(--grayscale-medium);
    font-size: 8px;
    padding-top: 4px;
    padding-right: 8px;
    line-height: 12px;
    text-align: right;
}

.pokemon-image {
    left: 16px;
    top: 16px;
    border-radius: 5px;
    margin: 10px 0;
}

.pokemon-name {
    font-weight: 400;
    font-size: 10px;
    background-color: var(--grayscale-background);
    width: 100%;
    padding-top: 24px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
    border-radius: 7px;
}
