
/* ===============
   Global Styles
=============== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

img {
    width: 100%;
    max-width: 100%;
    display: block;
    height: auto;
} 

body {
    margin: 0 auto;
    max-width: 22.5rem;
    padding-bottom: .2rem;
}


body {
    margin: 0;
    font-family: Poppins, sans-serif;
    max-width: 97.77%;
    border-radius: 8px;
    margin: 0 auto;
    max-width: 22.5rem;
    padding-bottom: .2rem;
}


/* ===============
Color Styles
=============== */

/* Identity */

:root {
    --color-primary: #dc0A2d;
    
}

/* Pokémon Type */

:root {
    --color-bug: #A7B723;
    --color-dark: #75574C;
    --color-dragon: #7037FF;
    --color-electric: #F9CF30;
    --color-fairy: #E69EAC;
    --color-fighting: #C12239;
    --color-fire: #F57D31;
    --color-flying: ##A891EC;
    --color-ghost: #70559B;
    --color-normal: #AAA67F;
    --color-grass: #74CB48;
    --color-ground: #DEC16B;
    --color-ice: #9AD6DF;
    --color-poison: #A43E9E;
    --color-psychic: #FB5584;
    --color-rock: #B69E31;
    --color-steel: #B7B9D0;
    --color-water: #6493EB;
    
}

  /* Grayscale */

:root {
    --grayscale-dark: #212121;
    --grayscale-medium: #666666;
    --grayscale-light: #E0E0E0;
    --grayscale-background: #EFEFEF;
    --grayscale-white: #FFFFFF;

}



/*  
body { background-color: var(--blue); }

h2 { border-bottom: 2px solid var(--blue); }
   */



/* ===============
Font Styles
=============== */

@font-face {
    font-family: Poppins;
    src: url('https://fonts.googleapis.com/css2?family=Poppins&display=swap')
};

@font-face {
    font-family: Poppins_bold;
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap')
};


/* Header */

:root {
    --text-headline: 700 1.5rem/2rem sans-serif; 
    
    }

.headline {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.subtitle__3 {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-size: 10px;
    line-height: 16px;
}

.subtitle__1 {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.subtitle__2 {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
}

/* Body */

.body__3 {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
}

.body__1 {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.body__2 {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.caption {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 8px;
    line-height: 12px;
}
